body {
    font: 100% Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
}

ul#suggest {
    list-style: none;
    padding-left: 10px;
    position: absolute;
    background: #f2f2f2;
    width: 180px;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
}

ul#suggest li {
    height: 30px;
    padding: 5px;
}

ul#suggest a {
    color: black;
    text-decoration: none;
}

img#imgArticle {
    margin: 25px;
}

.detailArticle .contenu {
    margin-top: 25px;
}

.extrait p {
    font-family: 'Poppins';
    font-size: .8em;
    font-weight: 300;
    color: #fff;
}

.titlepost h3 {
    font-family: 'Poppins';
    font-size: 1.1em;
    font-weight: 300;
    color: #fff;
}

.allposts article {
    height: 270px;
    -webkit-transition: .3s;
    transition: .3s;
    width: 350px;
    margin: 150px auto 0 auto;
    margin-top:0;
}

.allposts article a {
    display: block;
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 6px;
    -webkit-transition: .3s;
    transition: .3s;
}

.allposts article a img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 990;
    border-radius: 6px;
    height: 100%;
    -webkit-transition: .1s;
    transition: .1s;
    width: 100%;
}

.allposts article a .degpost {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 991;
    border-radius: 6px;
    -webkit-transition: .3s;
    transition: .3s;
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, #000 100%);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#000000', GradientType=0);
}

.allposts article a .titlepost {
    position: absolute;
    z-index: 995;
    bottom: 40px;
    left: 20px;
    -webkit-transition: .3s;
    transition: .3s;
}

.allposts article a .infospost {
    font-family: 'Poppins';
    font-size: .7em;
    font-weight: 300;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 995;
    -webkit-transition: .3s;
    transition: .3s;
}

.allposts article a .infospost .datepost {
    margin-right: 10px;
}

.allposts article a .extrait {
    position: absolute;
    z-index: 995;
    left: 20px;
    bottom: -100px;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
}

.allposts article:hover a {
    box-shadow: 0px 25px 43px 0px #E96B56;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#ba8ef1, Direction=180, Strength=43);
}

.allposts article:hover a img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.allposts article:hover a .degpost {
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, #9753ea 100%);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, #CE442F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#9753ea', GradientType=0);
}

.allposts article:hover a .titlepost {
    bottom: 120px;
}

.allposts article:hover a .infospost {
    bottom: 100px;
}

.allposts article:hover a .extrait {
    bottom: 10px;
    opacity: 1;
}

#footer {
    clear: both;
    height: 60px;
    background-color: #f5f5f5;
    margin-top: 20px;
}

.credit{
    margin: 20px 0;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/*# sourceMappingURL=style.css.map */

/* PROFILE */


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }


