/* Your styles here */
/* Your styles here */
ul#suggest{
    list-style: none;
    padding-left: 10px;
    position: absolute;
    background: #f2f2f2;
    width: 180px;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
}
ul#suggest li{
    height : 30px;
    padding: 5px;
}

ul#suggest a{
    color: black;
    text-decoration: none;
}

img#imgArticle{
    margin:25px
}
.detailArticle .contenu{
    margin-top: 25px;
}

.extrait p{font-family:'Poppins';font-size:.8em;font-weight:300;color:#fff}
.titlepost h3{font-family:'Poppins';font-size:1.1em;font-weight:300;color:#fff}
.allposts article{height:270px;-webkit-transition:.3s;transition:.3s;width:350px;margin:150px auto 0 auto}
.allposts article a{display:block;position:relative;width:100%;height:270px;overflow:hidden;border-radius:6px;-webkit-transition:.3s;transition:.3s}
.allposts article a img{position:absolute;top:0;left:0;z-index:990;border-radius:6px;height:100%;-webkit-transition:.1s;transition:.1s;width:100%}
.allposts article a .degpost{width:100%;height:100%;position:absolute;z-index:991;border-radius:6px;-webkit-transition:.3s;transition:.3s;background:-webkit-linear-gradient(top, rgba(125,185,232,0) 0%, #000 100%);background:linear-gradient(to bottom, rgba(125,185,232,0) 0%, #000 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 )}
.allposts article a .titlepost{position:absolute;z-index:995;bottom:40px;left:20px;-webkit-transition:.3s;transition:.3s}
.allposts article a .infospost{font-family:'Poppins';font-size:.7em;font-weight:300;color:#fff;position:absolute;bottom:20px;left:20px;z-index:995;-webkit-transition:.3s;transition:.3s}
.allposts article a .infospost .datepost{margin-right:10px}
.allposts article a .extrait{position:absolute;z-index:995;left:20px;bottom:-100px;width:-webkit-calc( 100% - 40px);width:calc( 100% - 40px);-webkit-transition:.3s;transition:.3s;opacity:0}
.allposts article:hover a{box-shadow:0px 25px 43px 0px #E96B56;filter:progid:DXImageTransform.Microsoft.Shadow(color=#ba8ef1, Direction=180, Strength=43)}
.allposts article:hover a img{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
.allposts article:hover a .degpost{background:-webkit-linear-gradient(top, rgba(125,185,232,0) 0%, #9753ea 100%);background:linear-gradient(to bottom, rgba(125,185,232,0) 0%, #CE442F 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#9753ea',GradientType=0 )}
.allposts article:hover a .titlepost{bottom:120px}
.allposts article:hover a .infospost{bottom:100px}
.allposts article:hover a .extrait{bottom:10px;opacity:1}
